.sticky {
	display: block;
}

.single-post article {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	padding: 32px 0;
	text-align: center;
	background-color: #e8e8e8;

	h1 {
		margin-top: 0;
	}
}

.entry-content {
	> * {
		margin: 32px auto;
		max-width: 900px;
		padding: 0 32px;
	}

	pre {
		padding: 32px;
		max-width: 836px; /* 900px - 64px (padding) */
	}

	> .alignwide {
		max-width: 1280px;
	}

	> .alignfull {
		max-width: 100%;
	}
}

.entry-footer {
	padding: 32px 0;
	background-color: #e1e1e1;
	text-align: center;

	span {
		display: block;
		margin: 1em 0;
	}
}

@media( min-width: 900px ) {
	.single-post article {
		margin: 0 0 32px 0;
	}
}