.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-content {
	> * {
		margin: 0 auto 32px auto;
		max-width: 900px;
		padding: 0 32px;
	}

	pre {
		padding: 32px;
		max-width: 836px; /* 900px - 64px (padding) */
	}

	> .alignwide {
		max-width: 1440px;
	}

	> .alignfull {
		max-width: 100%;
	}
}