.has-background .wp-block-media-text {
	
	&.has-media-on-the-right {
		.wp-block-media-text__content {
			grid-row: 2;
		}
		
		.wp-block-media-text__media {
			grid-row: 1;
		}
	}
	
	.wp-block-media-text__content {
		padding: 0;
	}
}

@media (min-width: 600px) {
	.has-background .wp-block-media-text {

		&.has-media-on-the-right {
			.wp-block-media-text__content {
				grid-row: 1;
			}
		}

		.wp-block-media-text__content {
			padding: 0 0 0 32px;
			
			> *:first-child {
				margin-top: 0;
			}
		}
	}

	.has-background .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		padding: 0 32px 0 0;
	}
}