/*
 * Main column width
 * This changes it from the default 580px to 720px
 */
.wp-block {
    max-width: 900px;
}

.block-editor-block-list__layout > .wp-block {
  margin-top: 32px;
  margin-bottom: 32px;
}

/*
 * Width of "wide" blocks
 * This changes it from the default 1080px to 1280px
 */
.wp-block[data-align="wide"] {
    max-width: 1280px;
}

/*
 * Width of "full" blocks
 */
.wp-block[data-align="full"] {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
