.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.wp-block-image {
	.alignleft {

		/*rtl:ignore*/
		float: left;

		/*rtl:ignore*/
		margin-right: 16px;
		margin-bottom: 16px;
	}

	.alignright {

		/*rtl:ignore*/
		float: right;

		/*rtl:ignore*/
		margin-left: 16px;
		margin-bottom: 16px;
	}

	&.alignfull {
		padding: 0;
	}
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}
