.entry-content .portfolio {
	margin: 0 auto;
	padding: 0;

	.wp-block-columns.alignfull {
		padding: 0;
	}

	.wp-block-column {
		margin: 0;
	}
}

@media(min-width: 600px) {
	.entry-content .portfolio .wp-block-column {
		flex-basis: 50%!important;
	}
}

@media(min-width: 782px) {
	.entry-content .portfolio {
		flex-wrap: wrap;
	}
}

@media(min-width: 1280px) {
	.entry-content .portfolio {
		flex-wrap: nowrap;
	}
}
