.main-navigation {
	display: block;
	width: 100%;

	> div {
		background-color: $color__header-navigation;

		a {
			color: $color__header-navigation-color;
			padding: 15px 10px;
			text-decoration: none;
			display: block;

			&:hover {
				text-decoration: underline;
			}
		}

		ul ul a {
			padding: 10px 10px 10px 20px;
		}

		ul ul ul a {
			padding: 10px 10px 10px 30px;
		}

		ul ul ul ul a {
			padding: 10px 10px 10px 40px;
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
	}
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	border: 0;
	border-radius: 0;
	background-color: $color__header-toggle;
	color: $color__header-toggle-font;
	width: 100%;
	padding: 10px;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.post-navigation .nav-links {
	max-width: 1280px;
	margin: 32px 32px 0 32px;

	a {
		border: solid 2px #000;
		width: 100%;
		padding: 12px 24px;
		color: #000;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		margin: 0 0 32px 0;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 768px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		> div {
			ul ul a,
			ul ul ul a,
			ul ul ul ul a {
				padding: 10px;
			}
		}

		li {
			display: inline-block;
		}
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
		display: block;
	}

	.main-navigation {
		.nav-menu {
			padding: 0 32px;
			text-align: center;
		}

		ul {
			ul {
				background-color: $color__header-navigation-dark;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
				width: 200px;
				display: block;
				text-align: left;

				ul {
					background-color: $color__header-navigation-dark;
					left: -999em;
					top: 0;
				}

				li {
					display: block;

					&:hover > ul,
					&.focus > ul {
						display: block;
						left: 200px;
						background-color: $color__header-navigation-very-dark;
					}
				}

				a {
					width: 200px;
				}
			}
		}
	}
}

@media(min-width: 900px) {
	.site-main .post-navigation {
		margin: 0;

		.nav-links {
			display: flex;

			a {
				width: auto;
			}
		}
	}
}

@media (min-width: 1360px) {
	.post-navigation .nav-links {
		margin: 0 auto 32px auto;

		a {
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: 1440px) {
	.main-navigation {
		.nav-menu {
			max-width: 1440px;
			margin: 0 auto;
		}
	}
}
