.entry-content {
	> ul,
	> ol {
		padding: 0 48px;
	}
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0;
	padding: 0 0 0 32px;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}
